@import "variables";

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  outline: none;
  -webkit-appearance: none;
}

body {
  //background-color: $color_main;
}

html, body {
  height: 100%;
  min-width: $width_min;
  max-width: 100%;
}
