@import "variables";
@import "mixins";

.stub {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  // границы - готово!
  &__brand {
    position: absolute;
    z-index: 100;
    display: flex;
    width: 100%;

    &--left { left: 0; }
    &--right { right: 0; }
    &--top { top: 0; }
    &--bottom { bottom: 0; }

    &--top, &--bottom {
      left: 0;
      width: 100%;
      height: $height_border_large;
      background-color: $color_main;
      padding-left: 30px;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url($path_brand_h);
        background-position: center;
        background-repeat: space no-repeat;
        background-size: 20% 38px;
      }
    }
    &--left, &--right {
      top: 0;
      width: $height_border_large;
      height: 100%;
      background-color: $color_main;
      padding: 60px 0;
      display: flex;
      flex-direction: column;
      &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-image: url($path_brand_v);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 38px 347px;
      }
    }

    @media (max-width: $display_1440) {
      &--top, &--bottom {
        padding-left: 23px;
        &:before {
          background-size: 25% 36px;
        }
      }
      &--left, &--right {
        &:before, &:after {
          background-size: 36px 326px;
        }
      }
    }
    @media (max-width: $display_1366) {
      &--top, &--bottom {
        height: $height_border_medium;
        padding-left: 36px;
        &:before {
          background-size: 278px 31px;

        }
      }
      &--left, &--right {
        width: $height_border_medium;
        &:before, &:after {
          background-size: 31px 278px;
        }
      }
    }
    @media (max-width: $display_1280) {
      &--top, &--bottom {
        height: $height_border_normal;
        padding: 0 34px;
        &:before {
          background-size: 261px 29px;
        }
      }
      &--left, &--right {
        width: $height_border_normal;
        &:before, &:after {
          background-size: 29px 261px;
        }
      }
    }
    @media (max-width: $display_768) {
      &--top, &--bottom {
        height: $height_border_tablet;
        &:before {
          background-size: 199px 22px;
        }
      }
      &--left, &--right {
        width: $height_border_tablet;
        &:before, &:after {
          background-repeat: no-repeat space;
          background-size: 22px 199px;
        }
      }
    }
    @media (max-width: $display_480) {
      &--top, &--bottom {
        height: $height_border_mobile;
        &:before {
          background-size: 329px 36px;
        }
      }
      &--bottom:before { background-image: url($path_brand_h2); }
      &--left, &--right { display: none; }
    }
    @media (max-width: $width_min) {
      &--top, &--bottom {
        height: $height_border_small;
        &:before {
          background-size: contain;
        }
      }

    }
  }

  // контейнер - готово!
  &__container {
    position: relative;
    display: block;
    z-index: 1;
    overflow: hidden;
    @include bg($path_img + 'bg.png', auto, repeat);
    @include size(100%, 100%);
  }

  // логотип - готово!
  &__logo {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 200;
    @include pos_logo(348px, 365px);
    @include bg($path_img + 'logo.svg');

    @media (max-width: $display_1440)         { @include pos_logo(315px, 330px); top: 50%; }
    @media (max-width: $display_1366)         { @include pos_logo(315px, 330px); }
    @media (max-width: $display_1280)         { @include pos_logo(287px, 300px); }
    @media (max-width: $display_1024)  { @include pos_logo(292px, 305px); }
    @media (max-width: $display_768)   { @include pos_logo(374px, 390px); }
    @media (max-width: $display_480)   { @include pos_logo(199px, 209px); }
    @media (max-width: $display_375)   { @include pos_logo(161px, 169px); }
    @media (max-width: $width_min)     { @include pos_logo(132px, 139px); }
  }

  &__cat {
    $cat: &;
    position: absolute;

    &-message {
      position: absolute;
    }

    // кошка №1 - готово!
    &--1 {
      @include size_pos(451px, 350px, 60px, 47px);
      @include bg($cat_top_left, 100% 100%, no-repeat, top left);

      @media (max-width: $display_1440)         { @include size_pos(424px, 329px, 52px, 38px); }
      @media (max-width: $display_1366)         { @include size_pos(380px, 295px, 30px, 31px); }
      @media (max-width: $display_1280)         { @include size_pos(344px, 267px, 38px, 31px); }
      @media (max-width: $display_1024)  { @include size_pos(344px, 267px, 30px, 28px); }
      @media (max-width: $display_768)   { @include size_pos(344px, 267px, 30px, -17px); }
      @media (max-width: $display_480)   { @include size_pos(241px, 188px, 53px, -66px); }
      @media (max-width: $display_375)   { @include size_pos(380px, 295px, 30px, 31px); }
      @media (max-width: $width_min)     { @include size_pos(137px, 176px, 22px, -22px); }

      #{$cat}-message {
        @include size_pos(445px, 231px, 29px, 336px);
        @include bg($path_img + 'messages/1.svg', 100% 100%, no-repeat, top center);

        @media (max-width: $display_1440)         { @include size_pos(399px, 213px, 24px, 314px); }
        @media (max-width: $display_1366)         { @include size_pos(347px, 185px, 10px, 290px); }
        @media (max-width: $display_1280)         { @include size_pos(274px, 146px, 9px, 263px); }
        @media (max-width: $display_768)   { @include size_pos(274px, 146px, 143px, 205px); }
        @media (max-width: $display_480)   { @include size_pos(268px, 113px, 100px, 88px); }
        @media (max-width: $display_375)   { @include size_pos(152px, 55px, 90px, 73px); }
        @media (max-width: $width_min)   { @include size_pos(152px, 55px, 90px, 73px); }

        @media (max-width: $display_1024) {
          background-image: url($path_img + 'messages/1-mobile.svg');
        }
      }
    }
    &--2 {
      @include size_pos(704px, 406px, 41px, auto, -40px);
      @include bg($cat_top_right, 100% 100%, no-repeat, top left);

      @media (max-width: $display_1440)  { @include size_pos(585px, 337px, 27px, auto,  -83px); }
      @media (max-width: $display_1366)  { @include size_pos(503px, 289px, 11px, auto,  -79px); }
      @media (max-width: $display_1280)  { @include size_pos(385px, 221px, 35px, auto,  -47px); }
      @media (max-width: $display_1024)  { @include size_pos(374px, 214px, 34px, auto, -137px); }
      @media (max-width: $display_768)   { @include size_pos(374px, 214px, 24px, auto, -134px); }
      @media (max-width: $display_480)   { @include size_pos(378px, 217px, 51px, auto, -206px); }
      @media (max-width: $display_375)   { @include size_pos(276px, 158px, 46px, auto, -119px); }
      @media (max-width: $width_min)     { @include size_pos(276px, 158px, 28px, auto, -151px); }

      #{$cat}-message {
        @include size_pos(454px, 195px, 242px, -119px);
        @include bg($path_img + 'messages/5.svg', 100% 100%, no-repeat, top center);
        z-index: 300;
        @media (max-width: $display_1440)         { @include size_pos(377px, 162px, 228px,  -61px); }
        @media (max-width: $display_1366)         { @include size_pos(323px, 139px, 200px, -102px); }
        @media (max-width: $display_1280)         { @include size_pos(302px, 130px, 166px, -161px); }
        @media (max-width: $display_1024)  { @include size_pos(249px, 107px, 176px, -124px); }
        @media (max-width: $display_768)   { @include size_pos(270px,  79px,  74px, -182px); background-image: url($path_img + 'messages/5-mobile.svg'); }
        @media (max-width: $display_480)   { @include size_pos(222px, 166px, 175px, -65px); background-image: url($path_img + 'messages/5.svg'); }
        @media (max-width: $display_375)   { @include size_pos(158px, 72px, 116px, -47px); }
        @media (max-width: $width_min)   { @include size_pos(158px, 72px, 130px, -47px); }

      }
    }
    &--3 {
      @include size_pos(587px, 549px, auto, 30px, auto, 0);
      @include bg($cat_bottom_left, 100% 100%, no-repeat, center);

      @media (max-width: $display_1440)         { @include size_pos(484px, 453px, auto, 28px, auto, 50px); }
      @media (max-width: $display_1366)         { @include size_pos(436px, 408px, auto, 28px, auto, 45px); }
      @media (max-width: $display_1280)         { @include size_pos(391px, 366px, auto, 28px, auto, 27px); }
      @media (max-width: $display_1024)  {
        @include size_pos(401px, 376px, auto, -73px, auto, 89px);
        transform: rotate(15deg);
      }
      @media (max-width: $display_768)   { @include size_pos(359px, 336px, auto, -132px, auto, 136px); }
      @media (max-width: $display_480)   {
        @include size_pos(292px, 292px, auto, -34px, auto, 7px);
        transform: none;
      }
      @media (max-width: $display_375)   { @include size_pos(213px, 213px, auto, 0, auto, 16px); }
      @media (max-width: $width_min)     {
        @include size_pos(177px, 177px, auto, -16px, auto, 8px);
        transform: rotate(-25deg);
      }

      #{$cat}-message {
        z-index: 200;
        @include size_pos(496px, 199px, 300px, 340px);
        @include bg($path_img + 'messages/2.svg', 100% 100%, no-repeat, center);

        @media (max-width: $display_1440)         { @include size_pos(327px, 130px, 279px, 245px); }
        @media (max-width: $display_1366)         { @include size_pos(358px, 144px, 237px, 245px); }
        @media (max-width: $display_1280)         { @include size_pos(286px, 115px, 213px, 220px); }
        @media (max-width: $display_1024)  { @include size_pos(242px,  97px, 209px, 230px); transform: rotate(-15deg); }
        @media (max-width: $display_768)   { @include size_pos(210px, 84px, 192px, 209px); }
        @media (max-width: $display_480)   {
          @include size_pos(249px, 107px, 122px, 193px);
          background-image: url($path_img + 'messages/2-mobile.svg');
          transform: none ;
        }
        @media (max-width: $display_375)   { @include size_pos(156px, 60px, 107px, 146px); }
        @media (max-width: $width_min)     {
          @include size_pos(158px, 60px, 103px, 96px);
          transform: rotate(25deg);
        }

      }
    }
    &--4 {
      @include size_pos(455px, 532px, auto, 38vw, auto, -17vh);
      @include bg($cat_bottom_center, 100% 100%, no-repeat, center);

      @media (max-width: $display_1440)  { @include size_pos(283px, 331px, auto, 586px, auto, -26px); }
      @media (max-width: $display_1366)  { @include size_pos(283px, 331px, auto, 586px, auto, -82px); }
      @media (max-width: $display_1280)  { @include size_pos(283px, 331px, auto, 482px, auto, -70px); }
      @media (max-width: $display_1024)  { @include size_pos(283px, 331px, auto, 358px, auto, -74px); }
      @media (max-width: $display_768)   { @include size_pos(283px, 331px, auto, 309px, auto, -41px); }
      @media (max-width: $display_480)   {
        @include size_pos(154px, 246px, 50%, -75px );
        margin-top: -113px;
        transform: rotate(90deg);
      }
      @media (max-width: $display_375)   {
        @include size_pos(112px, 180px, 50%, -38px);
        margin-top: -86px;
      }

      #{$cat}-message {
        @include size_pos(345px, 154px, 82px, 291px);
        @include bg($path_img + 'messages/3.svg', 100% 100%, no-repeat, center);

        @media (max-width: $display_1440)  { @include size_pos(215px, 96px, 51px, 181px); }
        @media (max-width: $display_1366)  { @include size_pos(215px, 96px, 51px, 181px); }
        @media (max-width: $display_1280)  { @include size_pos(244px, 80px, 49px, 192px); }
        @media (max-width: $display_1024)  { @include size_pos(208px, 68px, 51px, 177px); }
        @media (max-width: $display_768)   { @include size_pos(190px, 75px, 49px, 192px); }
        @media (max-width: $display_480)   {
          @include size_pos(211px, 109px, -47px, 76px);
          background-image: url($path_img + 'messages/3-mobile.svg');
          transform: rotate(-90deg);
        }
        @media (max-width: $display_375)   {
          @include size_pos(142px, 74px, -2px, 62px);
          background-image: url($path_img + 'messages/3-mobile2.svg');
        }
      }
    }
    &--5 {
      @include size_pos(526px, 651px, auto, auto, -32px, -68px);
      @include bg($cat_bottom_right, 100% 100%, no-repeat, center);

      @media (max-width: $display_1440)  { @include size_pos(354px, 438px, auto, auto, 37px, 49px); }
      @media (max-width: $display_1366)  { @include size_pos(354px, 438px, auto, auto, -37px, 25px); }
      @media (max-width: $display_1280)  { @include size_pos(307px, 380px, auto, auto, -21px, 45px); }
      @media (max-width: $display_1024)  {
        @include size_pos(307px, 380px, auto, auto, -51px, 75px);
        transform: rotate(-27deg);
      }
      @media (max-width: $display_768)   {
        @include size_pos(307px, 379px, auto, auto, -64px, 339px);
        z-index: 300;
      }
      @media (max-width: $display_480)   {
        @include size_pos(294px, 363px, auto, auto, -139px, 96px);
        z-index: 100;
      }
      @media (max-width: $display_375)   {
        @include size_pos(218px, 265px, auto, auto, -70px, 66px);
      }
      @media (max-width: $width_min)   {
        @include size_pos(218px, 265px, auto, auto, -84px, 57px);
      }

      #{$cat}-message {
        @include size_pos(426px, 149px, 139px, -301px);
        @include bg($path_img + 'messages/4.svg', 100% 100%, no-repeat, center);

        @media (max-width: $display_1440)  { @include size_pos(287px, 100px, 119px, -220px); }
        @media (max-width: $display_1366)  { @include size_pos(287px, 100px, 132px, -210px); }
        @media (max-width: $display_1280)  { @include size_pos(249px, 87px, 103px, -186px); }
        @media (max-width: $display_1024)  {
          @include size_pos(221px, 83px, 80px, -133px);
          transform: rotate(27deg);
        }
        @media (max-width: $display_768)   { @include size_pos(190px, 75px, 49px, 192px); }
        @media (max-width: $display_480)   {
          @include size_pos(211px, 109px, -47px, 76px);
          background-image: url($path_img + 'messages/3-mobile.svg');
          transform: rotate(-90deg);
        }
        @media (max-width: $display_375)   {
          @include size_pos(142px, 74px, -2px, 62px);
          background-image: url($path_img + 'messages/3-mobile2.svg');
        }
      }
    }

  }
}
