@import "variables";
@import "mixins";

.stub {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  // границы - готово!
  &__brand {
    position: absolute;
    z-index: 100;
    display: flex;
    width: 100%;

    &--left { left: 0; }
    &--right { right: 0; }
    &--top { top: 0; }
    &--bottom { bottom: 0; }

    &--top, &--bottom {
      left: 0;
      width: 100%;
      height: $height_border_large;
      background-color: $color_main;
      padding-left: 30px;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url($path_brand_h);
        background-position: center;
        background-repeat: space no-repeat;
        background-size: 20% 38px;
      }
    }
    &--left, &--right {
      top: 0;
      width: $height_border_large;
      height: 100%;
      background-color: $color_main;
      padding: 60px 0;
      display: flex;
      flex-direction: column;
      &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-image: url($path_brand_v);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 38px 347px;
      }
    }

    @media (max-width: $display_1440) {
      &--top, &--bottom {
        padding-left: 23px;
        &:before {
          background-size: 25% 36px;
        }
      }
      &--left, &--right {
        &:before, &:after {
          background-size: 36px 326px;
        }
      }
    }
    @media (max-width: $display_1366) {
      &--top, &--bottom {
        height: $height_border_medium;
        padding-left: 36px;
        &:before {
          background-size: 278px 31px;

        }
      }
      &--left, &--right {
        width: $height_border_medium;
        &:before, &:after {
          background-size: 31px 278px;
        }
      }
    }
    @media (max-width: $display_1280) {
      &--top, &--bottom {
        height: $height_border_normal;
        padding: 0 34px;
        &:before {
          background-size: 261px 29px;
        }
      }
      &--left, &--right {
        width: $height_border_normal;
        &:before, &:after {
          background-size: 29px 261px;
        }
      }
    }
    @media (max-device-width: $display_768) {
      &--top, &--bottom {
        height: $height_border_tablet;
        &:before {
          background-size: 199px 22px;
        }
      }
      &--left, &--right {
        width: $height_border_tablet;
        &:before, &:after {
          background-repeat: no-repeat space;
          background-size: 22px 199px;
        }
      }
    }
    @media (max-device-width: $display_480) {
      &--top, &--bottom {
        height: $height_border_mobile;
        &:before {
          background-size: 329px 36px;
        }
      }
      &--bottom:before { background-image: url($path_brand_h2); }
      &--left, &--right { display: none; }
    }
    @media (max-device-width: $width_min) {
      &--top, &--bottom {
        height: $height_border_small;
        &:before {
          background-size: contain;
        }
      }

    }
  }

  // контейнер - готово!
  &__container {
    position: relative;
    display: block;
    z-index: 1;
    overflow: hidden;
    @include bg($path_img + 'bg.png', auto, repeat);
    @include size(100%, 100%);
  }

  // логотип - готово!
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 300;
    @include pos_center(348px, 365px);
    @include bg($path_img + 'logo.svg');

    @media (max-width: $display_1440)         { @include pos_center(315px, 330px); }
    @media (max-width: $display_1366)         { @include pos_center(315px, 330px); }
    @media (max-width: $display_1280)         { @include pos_center(287px, 300px); }
    @media (max-device-width: $display_1024)  { @include pos_center(292px, 305px); }
    @media (max-device-width: $display_768)   { @include pos_center(374px, 390px); }
    @media (max-device-width: $display_480)   { @include pos_center(199px, 209px); }
    @media (max-device-width: $display_375)   { @include pos_center(161px, 169px); }
    @media (max-device-width: $width_min)     { @include pos_center(132px, 139px); }
  }

  &__cat {
    $cat: &;
    position: absolute;

    &-message {
      position: absolute;
    }

    // кошка №1 - готово!
    &--1 {
      @include size_pos(451px, 350px, 60px, 47px);
      @include bg($cat_top_left, 100% 100%, no-repeat, top left);

      @media (max-width: $display_1440)         { @include size_pos(424px, 329px, 52px, 38px); }
      @media (max-width: $display_1366)         { @include size_pos(380px, 295px, 30px, 31px); }
      @media (max-width: $display_1280)         { @include size_pos(344px, 267px, 38px, 31px); }
      @media (max-device-width: $display_1024)  { @include size_pos(344px, 267px, 30px, 28px); }
      @media (max-device-width: $display_768)   { @include size_pos(344px, 267px, 30px, -17px); }
      @media (max-device-width: $display_480)   { @include size_pos(241px, 188px, 53px, -66px); }
      @media (max-device-width: $display_375)   { @include size_pos(380px, 295px, 30px, 31px); }
      @media (max-device-width: $width_min)     { @include size_pos(137px, 176px, 22px, -22px); }

      #{$cat}-message {
        @include size_pos(445px, 231px, 29px, 336px);
        @include bg($path_img + 'messages/1.svg', 100% 100%, no-repeat, top center);

        @media (max-width: $display_1440)         { @include size_pos(399px, 213px, 24px, 314px); }
        @media (max-width: $display_1366)         { @include size_pos(347px, 185px, 10px, 290px); }
        @media (max-width: $display_1280)         { @include size_pos(274px, 146px, 9px, 263px); }
        @media (max-device-width: $display_768)   { @include size_pos(274px, 146px, 143px, 205px); }
        @media (max-device-width: $display_480)   { @include size_pos(268px, 113px, 100px, 88px); }
        @media (max-device-width: $display_375)   { @include size_pos(152px, 55px, 90px, 73px); }
        @media (max-device-width: $width_min)   { @include size_pos(152px, 55px, 90px, 73px); }

        @media (max-width: $display_1024) {
          background-image: url($path_img + 'messages/1-mobile.svg');
        }
      }
    }

    &--2 {
      @include size_pos(704px, 406px, 41px, auto, -40px);
      @include bg($cat_top_right, 100% 100%, no-repeat, top left);

      @media (max-width: $display_1440)         { @include size_pos(585px, 337px, 27px, auto,  -83px); }
      @media (max-width: $display_1366)         { @include size_pos(503px, 289px, 11px, auto,  -79px); }
      @media (max-width: $display_1280)         { @include size_pos(385px, 221px, 35px, auto,  -47px); }
      @media (max-device-width: $display_1024)  { @include size_pos(374px, 214px, 34px, auto, -137px); }
      @media (max-device-width: $display_768)   { @include size_pos(374px, 214px, 24px, auto, -134px); }
      @media (max-device-width: $display_480)   { @include size_pos(378px, 217px, 51px, auto, -206px); }
      @media (max-device-width: $display_375)   { @include size_pos(276px, 158px, 46px, auto, -119px); }
      @media (max-device-width: $width_min)     { @include size_pos(276px, 158px, 28px, auto, -151px); }

      #{$cat}-message {
        @include size_pos(454px, 195px, 242px, -119px);
        @include bg($path_img + 'messages/5.svg', 100% 100%, no-repeat, top center);

        @media (max-width: $display_1440)         { @include size_pos(337px, 162px, 228px,  -61px); }
        @media (max-width: $display_1366)         { @include size_pos(323px, 139px, 200px, -102px); }
        @media (max-width: $display_1280)         { @include size_pos(302px, 130px, 166px, -161px); }
        @media (max-device-width: $display_1024)  { @include size_pos(249px, 107px, 176px, -124px); }
        @media (max-device-width: $display_768)   { @include size_pos(270px,  79px,  74px, -182px); background-image: url($path_img + 'messages/5-mobile.svg'); }
        @media (max-device-width: $display_480)   { @include size_pos(222px, 166px, 175px, -65px); background-image: url($path_img + 'messages/5.svg'); }
        @media (max-device-width: $display_375)   { @include size_pos(158px, 72px, 116px, -47px); }
        @media (max-device-width: $width_min)   { @include size_pos(158px, 72px, 130px, -47px); }

      }
    }
/*
    &--3 {
      bottom: -189px;
      left: 50%;
      margin-left: -278px;
      width: 773px;
      height: 707px;
      z-index: 2;

      @media (max-height: $height_xxl) {
        bottom: -200px;
        margin-left: -200px;
        width: 630px;
        height: 630px;
      }

      @media (max-height: $height_lg) {
        display: none;
      }

      @media (max-width: $xl) {
        bottom: -150px;
        margin-left: -100px;
        width: 400px;
        height: 400px;
      }

      @media (max-width: $md) {
        bottom: 50%;
        left: -123px;
        margin-left: 0;
        margin-bottom: -140px;
        width: 300px;
        height: 280px;
      }

      @media (max-width: $sm) {
        display: none
      }

      #{$cat}-img {
        background-image: url($path_img + 'cats/3.png');

        @media (max-width: $md) {
          transform: rotate(92.53deg);
        }
      }

      #{$cat}-message {
        bottom: 221px;
        left: 375px;
        width: 469px;
        height: 216px;
        background-image: url($path_img + 'messages/3.svg');

        @media (max-height: $height_xxl) {
          bottom: 200px;
          left: 290px;
          width: 420px;
          height: 170px;
        }

        @media (max-width: $xl) {
          bottom: 140px;
          left: 200px;
          width: 190px;
          height: 90px;
        }
      }
    }

    &--4 {
      bottom: -82px;
      right: -123px;
      width: 775px;
      height: 777px;
      z-index: 1;

      @media (max-height: $height_xxl) {
        bottom: -100px;
        right: -115px;
        width: 670px;
        height: 670px;
      }

      @media (max-width: $xl) {
        bottom: -100px;
        right: -120px;
        width: 470px;
        height: 470px;
      }

      @media (max-width: $md) {
        bottom: -15px;
        right: -80px;
        width: 400px;
        height: 400px;
      }

      #{$cat}-img {
        background-image: url($path_img + 'cats/4.png');

        @media (max-width: $md) {
          transform: rotate(-22deg);
        }
      }

      #{$cat}-message {
        bottom: 301px;
        right: 372px;
        width: 468px;
        height: 215px;
        background-image: url($path_img + 'messages/4.svg');

        @media (max-height: $height_xxl) {
          bottom: 250px;
          right: 340px;
          width: 380px;
          height: 180px;
        }

        @media (max-width: $xl) {
          bottom: 190px;
          right: 250px;
          width: 190px;
          height: 90px;
        }

        @media (max-width: $md) {
          bottom: 75px;
          right: 55px;
          width: 220px;
          height: 110px;
          background-image: url($path_img + 'messages/4-mobile.svg');
        }
      }
    }

    &--5 {
      top: -100px;
      right: -157px;
      width: 860px;
      height: 500px;
      z-index: 1;

      @media (max-height: $height_xxl) {
        top: -90px;
        right: -180px;
        width: 750px;
        height: 400px;
      }

      @media (max-height: $height_lg) {
        display: none;
      }

      @media (max-width: $xl) {
        top: -80px;
        right: -200px;
        width: 600px;
        height: 300px;
      }

      @media (max-width: $md) {
        top: -30px;
        right: -150px;
        width: 380px;
        height: 250px;
      }

      #{$cat}-img {
        background-image: url($path_img + 'cats/5.png');
      }

      #{$cat}-message {
        top: 282px;
        right: 374px;
        width: 455px;
        height: 219px;
        background-image: url($path_img + 'messages/5.svg');

        @media (max-height: $height_xxl) {
          top: 240px;
          right: 320px;
          width: 390px;
          height: 180px;
        }

        @media (max-width: $xl) {
          top: 190px;
          right: 280px;
          width: 200px;
          height: 100px;
        }

        @media (max-width: $md) {
          top: 170px;
          right: 180px;
          width: 180px;
          height: 95px;
          background-image: url($path_img + 'messages/5-mobile.svg');
        }
      }
    }
 */
  }
}
