$path_img: '../images/';
$path_brand_h: '../images/brands/horizontal.svg';
$path_brand_v: '../images/brands/vertical.svg';
$path_brand_h2: '../images/brands/horizontal_bottom.svg';

$height_border_large: 60px;
$height_border_medium: 51px;
$height_border_normal: 48px;
$height_border_tablet: 36px;
$height_border_mobile: 53px;
$height_border_small: 48px;

$padding_horizontal: 60px;
$padding_horizontal_xl: 80px;
$padding_horizontal_mobile: 58px;

$padding_vertical: 60px;
$padding_vertical_xl: 80px;
$padding_vertical_mobile: 0;

$width_min: 320px;

$color_main: #6932FF;

$display_1920: 1920px;
$display_1440: 1440px;
$display_1366: 1366px;
$display_1280: 1280px;
$display_1024: 1024px;
$display_768: 768px;
$display_480: 480px;
$display_400: 400px;
$display_360: 360px;


$height_xxl: 1070px;
$height_xl: 950px;
$height_lg: 670px;


// old
$padding_horizontal: 108px;
$padding_horizontal_xl: 80px;
$padding_horizontal_mobile: 58px;

$padding_vertical: 108px;
$padding_vertical_xl: 80px;
$padding_vertical_mobile: 0;

$width_min: 320px;

$color_main: #6932FF;

$xxl: 1920px;
$xl: 1440px;
$md: 1024px;
$sm: 760px;

$height_xxl: 1070px;
$height_xl: 950px;
$height_lg: 670px;