extends template/layout

block content
  .header
    .container
      a.header__logo(href='/')
      nav.header__menu
        each item in ['firstPage', 'secondPage', 'thirdPage', 'fourthPage']
          li: a(href='#'+item)= item
  main#home
    .section.home.home--projects
    .section.home.home--tarifs
    .section.home.home--insruction
    .section.home.home--contacts





