extends template/layout

block content
  +header()
  +modal()
  .index-slide
  main#home
    .section.home.home--index: +index()
    .section.home.home--projects: +project()
    .section.home.home--tarifs: +tarifs()
    .section.home.home--insruction: +instruction()
    .section.home.home--contacts: +contacts()
  +home-footer()




