extends template/layout

block content
  .main-social
    +back('Новая статья')
    .article
      .container
        .article__profile
          .article__body
            .article__title: h2 Анкета
            +profile()
        .article__edit
          .article__body
            .article__title
              h2 Вы можете:
              .article__file
                input(type='file', id='file')
                label(for='file') Добавить файл
              span Внести статью в окно ниже
            .article__validation Для загрузки статьи необходимо...
            .article__files
              span Редактирование статьи:
              .files__list
                .file-item.file-item--pdf
                .file-item.file-item--image: img(src='images/screen.png')
              .add_file-btn
            +field({placeholder: 'Текст статьи', required: false, type: 'textArea'})
            +button({ text: 'Отправить' })
  +social()
