@import "lib/mixin";
@import "lib/var";
@import "lib/grid";
@import "lib/icons";

.index-slide {
  .bg('slide1.png', cover);
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.home {

  &__title {
    color: white;
    .title();
    width: 100%;
    max-width: 661px;
    margin: 0 auto 80px;
  }
  &-footer {
    width: 100%;
    padding-bottom: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 20;
    .media_mobile({
      padding-bottom: 20px;
    })
  }
  // modificators
  &--index {
    background: transparent;
  }
  &--projects {
    background: white;
  }
  &--tarifs {
    .bg('slide3.png', cover);
  }
  &--insruction {
    .bg('slide4.png', cover);
  }
  &--contacts {
    .bg('slide5.png', cover);
  }
}

.slider-objects {
  position: relative;
  padding-top: 80px;
  .column(18,24,24,24,@width_column24);
  .left_desktop(3, @width_column24);
  .media_device({
    padding-top: 30px;
  });
  .item {
    padding-left: 57px;
    position: relative;
    &__number {
      color: @redMine;
      position: absolute;
      font-family: 'RFDewiExpanded', sans-serif;
      font-weight: bold;
      font-size: 22px;
      line-height: 30px;
      top: 0;
      left: 0;
    }
    &__text {
      color: white;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.project__title {
  .column(20,24,24,24,@width_column24);
  .left_desktop(4, @width_column24);
  .title();
  padding-left: 20px;
  margin-bottom: -20px;
  .media_desktop({
    padding-left: 40px;
    margin-bottom: -40px;
  });

  a {
    color: @redMine;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 100;
    .media_mobile({
      .font(16px, 20px, 500);
    })
  }
}

.slider-project {
  position: relative;
  z-index: 10;
  padding-top: 80px;
  .column(20,24,24,24,@width_column24);
  .left_desktop(4, @width_column24);
  .media_device({
    padding-top: 40px;
  });
  &:before {
    content: '';
    position: absolute;
    background-color: white;
    width: 50%;
    height: 100%;
    top: 0;
    right: calc(100% - 40px);
    z-index: 20;
    .media_device({
      display: none;
    })
  }
  .owl-stage-outer {
    .media_desktop({
      overflow: inherit;
    });
  }
  .owl-nav {
    .owl-prev,
    .owl-next {
      color: black;
    }
  }

  .item {
    position: relative;
    &__image {
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 125%;
      }
      &:after {
        content: @icon-arrow-top-right;
        font-family: @icomoon-font-family;
        position: absolute;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .circle(45px);
        background-color: white;
        top: 30px;
        left: 30px;
        font-size: 12px;
        color: @redMine;
        .hide_mobile();
      }
      .img_cover();
    }
    &__content {
      padding-top: 25px;
      .title {
        color: #171C1D;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 6px;
        .text_overflow();
      }
      .text {
        color: @text-accent;
        .longText-overflow(3, 16px, 22px)
      }
    }
  }
}

.tarif__title {
  .column(20,24,24,24,@width_column24);
  .left_desktop(4, @width_column24);
  .title();
  padding-left: 40px;
  margin-bottom: -40px;
  .media_device({
    padding-left: 20px;
    margin-bottom: -20px;
  });
  color: white;
  a {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 100;
    transition: @transition;
    &:hover {
      color: @redBlock;
    }
  }
}

.slider-tarifs {
  position: relative;
  z-index: 10;
  padding-top: 80px;
  .media_device({
    padding-top: 40px;
  });
  .column(21,24,24,24,@width_column24);
  .left_desktop(3, @width_column24);
  .owl-item {
    .media_desktop({
      margin-right: 0;
      margin-left: 5vw;
    });
  }
  .item {
    position: relative;
    width: 100%;
    &__content {
      background-color: white;
      overflow: hidden;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding: 51px 18px;
      .media_device({
        padding: 30px 15px;
      });
      &:before {
        content: '';
        font-family: @icomoon-font-family;
        .circle(118px);
        background-color: @redBlock;
        margin: 0 auto 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 42px;
        .media_device({
          width: 50px;
          height: 50px;
          font-size: 20px;
        })
      }
      &--personal {
        &:before {
          content: @icon-personal;
        }
      }
      &--business {
        &:before {
          content: @icon-bussines;
        }
      }
      &--expert {
        &:before {
          content: @icon-expert;
        }
      }
    }
    &__title {
      text-align: center;
      margin-bottom: 19px;
      line-height: 22px;
      font-size: 18px;
      color: @textH1;
      font-weight: bold;
    }
    &__text {
      color: @text;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 22px;
    }
    &__price {
      text-align: center;
      margin-bottom: 32px;
      .value{
        color: @redMine;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        &:after {
          content: @rouble;
          display: inline-block;
          padding-left: 5px;
          font-size: inherit;
          line-height: inherit;
          color: inherit;
        }
      }
      .postfix {
        padding-left: 5px;
        font-size: 16px;
        line-height: 20px;
      }

    }
  }
}

.instruction {
  .column(22,24,24,24, @width_column24);
  .left_desktop(1, @width_column24);

  &__body {
    background-color: white;
    padding: 49px 96px 35px;
    border-radius: 20px;
    .media_device({
      padding: 20px 40px;
    })
  }
  &__title {
    .title();
    margin-bottom: 24px;
  }
  &__sub-title {
    .font(22px, 27px, bold);
    margin-bottom: 25px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 45vh;
    .scrollbars(5px, @text-accent);
    .media_device({
      max-height: 55vh;
      overflow-x: hidden;
      overflow-y: auto;
      flex-direction: row;
    });

    &-item {
      width: calc(50% - 38px);
      margin-right: 76px;
      padding-left: 58px;
      position: relative;
      margin-bottom: 20px;

      .media_device({
        width: 100%;
      });
      .number {
        position: absolute;
        top: 0;
        left: 0;
        color: @redMine;
        font-family: 'RFDewiExpanded', sans-serif;
        .font(18px, 20px, 700);
      }
      .text {
        color: @text-accent;
        .font(16px, 22px);
      }
    }
  }

}

.contacts {
  .column(19,24,24,24, @width_column24);
  .left_desktop(4, @width_column24);
  color: white;
  display: flex;
  flex-wrap: wrap;
  &__title {
    .title();
    width: 100%;
    margin-bottom: 49px;
  }
  &__phone {
    padding-left: 58px;
    padding-right: @padding24;
    position: relative;
    .font(22px, 27px, 700);
    .column(4,6,12);
    margin-bottom: 20px;
    &:before {
      content: '';
      width: 27px;
      height: 27px;
      .bg('svg/phone.svg');
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__email {
    padding-left: 58px;
    position: relative;
    .font(20px, 27px, 700);
    .column(4,6,12);
    margin-bottom: 20px;
    &:before {
      content: '';
      width: 27px;
      height: 27px;
      .bg('svg/message.svg');
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__adress {
    padding-left: 58px;
    position: relative;
    .font(22px, 27px, 700);
    .column(4,12,12);
    margin-bottom: 20px;
    &:before {
      content: '';
      width: 27px;
      height: 27px;
      .bg('svg/marker_white.svg');
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__block {
    .column(4,6,12);
    margin-top: 36px;
    margin-bottom: 20px;
    padding-right: @padding24;
    .media_mobile({
      margin-top: 0;
    })
  }
  &__item {
    margin-bottom: 20px;
  }
}

.back-top {
  position: absolute;
  width: 32px;
  z-index: 10;
  height: 32px;
  bottom: 60px;
  left: 50%;
  margin-left: -16px;
  cursor: pointer;
  text-align: center;
  &--scroll {
    .bg('svg/scroll.svg');
    &:before {
      display: none;
    }
  }
  &:before {
    content: @icon-arrow-top;
    font-family: @icomoon-font-family;
    .font(32px, 32px);
    color: white;
  }
  .media_device({
    bottom: 20px;
    left: 50px;
  });

}