@import "lib/var";
@import "lib/mixin";
@import "lib/icons";
@import "lib/grid";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &--right {
    justify-content: flex-end;
  }
  &--no-wrap {
    flex-wrap: nowrap;
  }

}
