@import "mixin";
@import "var";

.modal {
  position: absolute;
  z-index: 20000;
  width: 100%;
  max-width: 394px;
  transition: all 0.3s ease-out;
  right: -1000px;
  transform: scale(0);
  background-color: white;
  border: 1px solid @grey_border;
  padding: 44px 42px 57px 36px;
  .media_mobile({
    max-width: 100%;
    height: 100vh;
    position: fixed;
    padding: 20px;
    overflow-y: auto;
  });
  &.active {
    transform: scale(1);
  }
  &.inactive {
    transform: scale(0);
  }

  &#sign {
    top: 91px;
    .media_mobile({
      top: 0;
    });
    &.active {
      right: 0;
    }
    &.inactive {
      right: -1000px;
    }
  }
  &#menu {
    top: 91px;
    left: -1000px;
    .media_mobile({
      top: 0;
    });
    .hide_desktop();
    &.active {
      left: 0;
    }
    &.inactive {
      left: -1000px;
    }

  }
  &#instruction {
    bottom: 0;
    &.active {
      right: 0;
    }
    &.inactive {
      right: -1000px;
    }
  }

  .close-btn {
    position: absolute;
    .circle(21px);
    .bg('svg/close.svg', 21px);
    top: 23px;
    right: 21px;
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
  }
  &__logo {
    width: 97px;
    height: 59px;
    .bg('logo.png');
    &--center {
      margin: 0 auto;
    }
  }
  .modal-link {
    width: 100%;
    text-align: right;
    color: @orange;
    display: block;
    margin-bottom: 35px;
    text-decoration: none;
    .font();
    &:hover {
      text-decoration: underline;
    }
  }
  .title {
    width: 100%;
    text-align: center;
    .font(12px, 14px, 300);
    margin-bottom: 23px;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    //background-color: rgba(@black, 0.2);
    display: none;
    &.visible {
      display: block;
    }
  }
}

.tabs {
  &__header {
    margin-top: 15px;
    width: 100%;
    border-bottom: 1px solid @grey_border;
    margin-bottom: 26px;
  }
  &__list {
    display: flex;
  }
  &__item {
    list-style-type: none;
    margin-right: 15px;
    display: block;
    position: relative;
    line-height: 23px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 12px;
    color: @grey_text;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      display: block;
      border-bottom: 3px solid @orange;
    }
    &.active {
      color: @orange;
      &:before {
        width: 100%;
      }
    }
  }

  &__body {
    display: none;
    &.active {
      display: block;
    }
  }
}

.instruction {
  padding-top: 18px;
  &__title {
    width: 100%;
    text-align: center;
    color: @orange;
    text-transform: uppercase;
    .font();
    margin-bottom: 50px;
  }
  &__text {
    text-align: center;
    p {
      margin-bottom: 15px;
      .font(15px, 19px);
    }
  }
}

.mobile-menu {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  &-item {
    width: 100%;
    text-align: center;
    color: @black;
    text-decoration: none;
    margin-bottom: 20px;
    &:hover {
      color: @orange;
      text-decoration: underline;
    }
    &.active {
      color: @orange;
    }
  }
}