@import "lib/mixin";
@import "lib/var";
@import "lib/grid";

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.row {
  margin-left: -@padding24;
  margin-right: -@padding24;
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 @padding24;
}
