@rouble: '\20BD';
@dollars: '\0024';
@imgUrl: '../images/';
@svgUrl: '../images/svg/';
// icons

// colors
@red: #F44336;
@orange: #FF802A;
@black: #000000;
@grey_border: #B7B6BB;
@grey_text: #B7B6BB;
@box_shadow_button: 0 0 40px 20px rgba(255, 128, 42, 0.15);
@box_shadow: 0 0 40px rgba(0, 0, 0, 0.05);
@title_text: rgba(0, 0, 0, 0.8);
@radius: 15px;
@bg: #FBFBFB;
@hover: #91AEE2;
@transition: all 0.2s ease-out;
