doctype
include variable
include mixins
include layout_mixins

html(lang="ru")
	head
		title Learn makeup

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")

		link(rel="styleSheet", media="all", type="text/css", href="css/style.min.css")

	body
		block var

		block content

		script(src='js/jquery.js')
		script(src='js/owl.carousel-min.js')
		script(src='js/jp.min.js')
		script(src='js/main.js')

