-
	var
			menuHome = [
				{url: 'projects', title: 'Проекты'},
				{url: 'tarifs', title: 'Тарифы'},
				{url: 'insruction', title: 'Инструкция'},
				{url: 'contacts', title: 'Контакты'},
			],
			title_h1 = 'Портал оценки стоимости инженерных разделов строительных проектов',
			s1_list = [
				{number: '01', title: 'Название объекта в несколько строк' },
				{number: '02', title: 'Название объекта в несколько строк' },
				{number: '03', title: 'Название объекта в несколько строк' },
				{number: '04', title: 'Название объекта в несколько строк' },
				{number: '05', title: 'Название объекта в несколько строк' }
			],
			s2_list = [
				{img: 'project1.png', title: 'Название проекта №1', description: 'Текст краткого описания. Мифопорождающее текстовое устройство.' },
				{img: 'project2.png', title: 'Название проекта №2', description: 'Текст краткого описания. Мифопорождающее текстовое устройство.' },
				{img: 'project3.png', title: 'Название проекта №3', description: 'Текст краткого описания. Мифопорождающее текстовое устройство.' },
				{img: 'project4.png', title: 'Длинное название проекта №4', description: 'Текст длинного описания. Текст длинного описания. Текст длинного описания. Текст длинного описания. Текст длинного описания. Текст длинного описания. Текст длинного описания. ' }
			],
			s3_list = [
				{icon: 'personal', title: 'personal', description: 'Текст краткого описания. Мифопорождающее текстовое устройство.', price: '300' },
				{icon: 'business', title: 'business', description: 'Текст краткого описания. Мифопорождающее текстовое устройство.', price: '500' },
				{icon: 'expert', title: 'expert', description: 'Текст краткого описания. Мифопорождающее текстовое устройство.', price: '750' },
				{icon: 'personal', title: 'personal', description: 'Текст краткого описания. Мифопорождающее текстовое устройство.', price: '300' },
				{icon: 'business', title: 'business', description: 'Текст краткого описания. Мифопорождающее текстовое устройство.', price: '500' },
				{icon: 'expert', title: 'expert', description: 'Текст краткого описания. Мифопорождающее текстовое устройство.', price: '750' },
			]