-
  var
          links = [
            {
              title: 'резюме на hh.ru',
              url: 'https://togliatti.hh.ru/resume/4ed5ccc1ff02774cf50039ed1f6a327539466d'
            },
            {
              title: 'аккаунт на github.com',
              url: 'https://github.com/AlexOk83/'
            }
          ],
          projects = [
            {
              title: 'Design Capital',
              description: 'Данный проект сверстан без макетов, только 1 видео. Оставил в своем портфолио т.к. нравится идея появления кнопок и другая анимация',
              url: '/all-animation/'
            },
            {
              title: 'VPN',
              description: 'Первый серьёзный проект верстки, у которого круто проработан дизайн и верстка вышла тоже очень круто.. (вход с любым валидным email-om, пароль: test)',
              url: '/vpn/'
            },
            {
              title: 'MaryRose',
              description: 'Верстка интернет-магазина для продажи одежды',
              url: '/mary-rose/'
            },
            {
              title: 'Форма интеграции с сервисом DADATA',
              description: 'тут интересно проработаны элементы форм и подключен сервис dadata, который было интересно подключить и под него написать элементы автозаполнения формы',
              url: '/form/'
            },
            {
              title: 'Ardo',
              description: 'Верстка внутреннего сайта компании, под их требования, не все разделы делались мной, поэтому часть разделов не работает',
              url: '/ardo/'
            },
            {
              title: 'Маркетинговое агенство Косатка',
              description: 'Довольно интересный проект, были классно проработаны макеты и есть много сложных моментов, которые удалось реализовать.',
              url: '/kosatka/'
            },
            {
              title: 'iTyres',
              description: 'Сложный интересный дизайн, проработано очень много мелких деталей',
              url: '/ityres/'
            },
            {
              title: 'Boulder Prolotherapy',
              description: 'Верстка проекта, макеты которого мне предоставили в компании DirectLine, в которой я провел курс обучения верстке.',
              url: '/therapy/'
            },
            {
              title: 'Lookme',
              description: 'Верстка лендинга в рамках курса обучения верстке в компании DirectLine',
              url: '/lookme/'
            },
            {
              title: 'Natura',
              description: 'Интернет-магазин по продаже кирамической плитки',
              url: '/natura/'
            },
          ],
          projects2 = [
            {
              title: 'Игры',
              description: 'Пятнашки, Тетрис, в планах дополнить играми: крестики-нолики, змейка, реверси, возможно настольные игры типа шахмат или шашек тоже появятся. Занимаюсь в свободное время когда находит вдохновение.',
              url: '/games/'
            },
            {
              title: 'Составление маршрутов',
              description: 'форма составления и расчета маршрута при помощи yandex-карт. Проект на стадии тестирования, после внедрения в продакшн собираюсь бек переделать на vuex и всю логику покрыть тестами, так же в планах переписать на typescript. Реализацию можно посмотреть на gitHub',
              url: 'http://test.alex-dev.tw1.su/#/'
            },
          ],
          projects3 = [
            {
              title: 'tripaggregator.com',
              description: 'Весь фронт на данном проекте был написан мною и с 2017 года (я покинул проект) так и не менялся',
              url: 'http://tripaggregator.com'
            },
            {
              title: 'Театр колесо',
              description: 'Сайт построен на CMS NetCat. Админка спроектирована таким образом, чтобы наполнение можно было выполнять не подготовленному человеку. Покупка билетов осуществляется через виджет tripaggregator.com.',
              url: 'http://teatr-koleso.ru/'
            },
            {
              title: 'Мир бильярда',
              description: 'лендинг построен на CMS wordPress, сделан за 2 дня под ключ.',
              url: 'http://lend.mirbilt.ru/'
            },
            {
              title: 'Лесной двор',
              description: 'лендинг построен на CMS wordPress, сделан за 2 дня под ключ.',
              url: 'http://lesdvor-tlt.ru/'
            },
          ]









