-
	var
		menu = [
			{
				title: 'Каталог статей',
				url: '#',
				active: true,
			},
			{
				title: 'Отправить статью',
				url: '#'
			},
			{
				title: 'Наши эксперты',
				url: 'experts.html'
			},
			{
				title: 'Победители',
				url: 'winners.html'
			},
			{
				title: 'Партнеры',
				url: 'partners.html'
			},
		],
		slider1 = [
			{
				img: 'woman.png',
				name: 'Иванова М.С.',
				status: 'Ученик',
				text: 'Ясность нашей позиции очевидна: убеждённость некоторых оппонентов обеспечивает широкому кругу (специалистов) участие в формировании как самодостаточных, так и внешне зависимых концептуальных решений. Приятно, граждане, наблюдать, как многие известные личности, вне зависимости от их уровня, должны быть разоблачены. '
			},
			{
				img: 'woman.png',
				name: 'Иванова М.С.',
				status: 'Ученик',
				text: 'Ясность нашей позиции очевидна: убеждённость некоторых оппонентов обеспечивает широкому кругу (специалистов) участие в формировании как самодостаточных, так и внешне зависимых концептуальных решений. Приятно, граждане, наблюдать, как многие известные личности, вне зависимости от их уровня, должны быть разоблачены. '
			},
			{
				img: 'woman.png',
				name: 'Иванова М.С.',
				status: 'Ученик',
				text: 'Ясность нашей позиции очевидна: убеждённость некоторых оппонентов обеспечивает широкому кругу (специалистов) участие в формировании как самодостаточных, так и внешне зависимых концептуальных решений. Приятно, граждане, наблюдать, как многие известные личности, вне зависимости от их уровня, должны быть разоблачены. '
			},
		],
		slider2 = [
			{
				img: 'man.png',
				name: 'Иванов М.С.',
				status: 'Эксперт',
			},
			{
				img: 'man.png',
				name: 'Иванов М.С.',
				status: 'Эксперт',
			},
			{
				img: 'man.png',
				name: 'Иванов М.С.',
				status: 'Эксперт',
			},
			{
				img: 'man.png',
				name: 'Иванов М.С.',
				status: 'Эксперт',
			},
		],
		applications = [
			{
				text: 'Ясность нашей позиции очевидна: постоянный количественный рост и сфера нашей активности прекрасно подходит',
				date: '11.02.2021'
			},
			{
				text: 'Ясность нашей позиции очевидна: постоянный количественный рост и сфера нашей активности прекрасно подходит',
				date: '11.02.2021'
			},
			{
				text: 'Ясность нашей позиции очевидна: постоянный количественный рост и сфера нашей активности прекрасно подходит',
				date: '11.02.2021'
			},
			{
				text: 'Ясность нашей позиции очевидна: постоянный количественный рост и сфера нашей активности прекрасно подходит',
				date: '11.02.2021'
			}
		],
		experts = [
			{
				img: 'man.png',
				time: '5 минут',
				name: 'Иванов М.С.',
				status: 'Эксперт',
				description: 'Несколько строк о эксперте Несколько строк о эксперте Несколько строк о эксперте',
				counts: 1,
			},
			{
				img: 'man.png',
				time: '7 минут',
				name: 'Иванов М.С.',
				status: 'Эксперт',
				description: 'Несколько строк о эксперте Несколько строк о эксперте Несколько строк о эксперте',
				counts: 12334,
			},
			{
				img: 'man.png',
				time: '12 минут',
				name: 'Иванов М.С.',
				status: 'Эксперт',
				description: 'Несколько строк о эксперте Несколько строк о эксперте Несколько строк о эксперте',
				counts: 13,
			},
			{
				img: 'man.png',
				time: '45 минут',
				name: 'Иванов М.С.',
				status: 'Эксперт',
				description: 'Несколько строк о эксперте Несколько строк о эксперте Несколько строк о эксперте',
				counts: 123,
			},
		],
		winners = [
			{
				id: 'winner-1',
				image: 'man.png',
				name: 'Иванов И.С.',
				status: 'Победитель',
				scool: 'Школа №1, Класс  4”Б”',
				about: 'С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса модели развития. Реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Лишь многие известные личности заблокированы в рамках своих собственных рациональных ограничений. В частности, постоянный количественный рост и сфера нашей активности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для модели развития.'
			},
			{
				id: 'winner-2',
				image: 'girl.png',
				name: 'Иванова И.С.',
				scool: 'Школа №1, Класс  4”Б”',
				status: 'Победитель',
				about: 'С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса модели развития. Реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Лишь многие известные личности заблокированы в рамках своих собственных рациональных ограничений. В частности, постоянный количественный рост и сфера нашей активности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для модели развития.'
			},
			{
				id: 'winner-3',
				image: 'people.png',
				name: 'Иванов И.С.',
				status: 'Победитель',
				scool: 'Школа №1, Класс  4”Б”',
				about: 'С учётом сложившейся международной обстановки, разбавленное изрядной долей эмпатии, рациональное мышление создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса модели развития. Реплицированные с зарубежных источников, современные исследования превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Лишь многие известные личности заблокированы в рамках своих собственных рациональных ограничений. В частности, постоянный количественный рост и сфера нашей активности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для модели развития.'
			}
		]









