-
	var
		array1 = [
			{
				title: 'Стань моделью LookMe!',
				desc: ['Зарабатывай деньги весело проводя время!','Из любой точки мира!'],
				bg: 'bg-header.png',
				btn_text: 'Стань моделью',
				image: 'slider-1.png'
			},
			{
				title: 'Стань моделью LookMe!',
				desc: ['Зарабатывай деньги весело проводя время!','Из любой точки мира!'],
				bg: 'bg-header.png',
				btn_text: 'Стань моделью',
				image: 'slider-1.png'
			},
			{
				title: 'Стань моделью LookMe!',
				desc: ['Зарабатывай деньги весело проводя время!','Из любой точки мира!'],
				bg: 'bg-header.png',
				btn_text: 'Стань моделью',
				image: 'slider-1.png'
			}
		],

		h2 = [
			'С нами легко и комфортно!',
			'Зарегистрируйся! Начни зарабатывать!'
		],
		h3 = [
			'Наш сервис порадует вас множеством',
			'интересных условий для моделей!',
			'Получай доход в любой точке мира,',
			'в любое удобное время!'
		],
		photos = [
			{
				text: 'Рейтинги, розыгрыши и акции для моделей!',
				image: 'image-1-1.png',
				classes: '-slide-left'
			},
			{
				text: 'Свободный график работы из любой точки мира!',
				image: 'image-1-2.png',
				classes: '-slide-top'
			},
			{
				text: 'Большой % от приглашенных пользователей',
				image: 'image-1-3.png',
				classes: '-slide-top'
			},
			{
				text: 'Защита и техническая поддержка 24/7',
				image: 'image-1-4.png',
				classes: '-slide-right'
			}
		],
		programm = [
			{
				title: 'Реферальная программа',
				desc: ['Получи до 5% внесенных средств пользователя! Имей','Имей доход от заработка каждой приглашенной вами модели!'],
				image: 'image-2-1.png',
				classes: '-slide-right'
			},
			{
				title: 'Минимальный порог выплат',
				desc: 'Мы действительно даем возможность моделям заработать на aбсолютно любые мечты',
				image: 'image-2-2.png',
			classes: '-slide-left'
			},
		],
		footer_menu = ['Правила использования', 'Политика конфиденциальноти', 'Техническая поддержка', 'FAQ']









