-
	var
			menu = [
				{url: '#', title: 'О компании'},
				{url: '#', title: 'Портфолио'},
				{url: '#', title: 'Команда'},
				{url: '#', title: 'Как мы работаем'},
				{url: '#', title: 'Отзывы клиентов'},
				{url: '#', title: 'Оставить заявку'},
			],
			title_h1 = 'Поможем сделать вашу квартиру уютнее',
			title_h2 = 'Подбираем текстиль, мебель и аксессуары под ваш интерьер, находим магазины и помогаем организовать доставку',
			buttonText = 'Оставить заявку',
			aboutText = [
				'Премиальный европейский текстиль — одно из самых главных направлений работы коллектива.',
				'Создавать неповторимые интерьеры для наших дорогих клиентов, уделяя внимание мельчайшим деталям — вот то, что по-настоящему вдохновляет дизайнеров нашей студии.',
				'Наш коллектив сделает все, чтобы после сотрудничества с нами,  Вам было приятно сказать: « Да! Это именно то, что действительно достойно моего дома!»',
			]
			advantages1 = [
				{ value: '5', desc: 'лет опыта' },
				{ value: '100', desc: 'проектов' },
				{ value: '10', desc: 'наград' },
			],
			hoverText = 'В квартире были светлые стены и тёплые цвета. Мы сконцентрировались на отсылках к природе и сделали ребятам уютный интерьер, отсылающий к виллам островов Бали.',
			team = [
				{ image: 'image5.png', text: 'Это Маша, наш главный дизайнер. Она отвечает за дизайн-проект, приезжает к вам домой, общается и помогает сделать вашу квартиру красивой и уютной.' },
				{ image: 'image6.png', text: 'С нашим менеджером Сашей вы познакомитесь в первую очередь. Она проконсультирует вас, соберёт все документы и ответит на все вопросы.' },
				{ image: 'image7.png', text: 'Катя тоже занимается дизайном. Она всегда находит общий язык с клиентами и точно знает, как обсутроить дом так, чтобы вам понравилось.' },
			],
			howWeAreWorking = [
				'Знакомимся, выезжаем на объект, утверждаем концепцию, подписывем договор.',
				'Подбираем мебель, текстиль, аксессуры. Делаем 3D-визуализацию.',
				'Находим нужные магазины, помогаем с доставкой и оплатой товаров.',
				'Воплощаем проект в жизнь: расставляем мебель и цветы, вешаем шторы, находим места для мелочей',
			]